{{define "subject"}}Welcome to Greenlight!{{end}}

{{define "plainBody"}}
Hi,

We're not quite sure why did you sign up for a Jade Factory account.

Anyway, for future reference, your user ID number is {{.ID}}.

Thanks,

The Jade Factory
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <p>Hi,</p>
    <p>We're not quite sure why did you sign up for a Jade Factory account.</p>
    <p>Anyway, for future reference, your user ID number is {{.ID}}.</p>
    <p>Thanks,</p>
    <p>The Jade Factory</p>
</body>

</html>
{{end}}